.section{
	margin-top: 5%;
	margin-bottom: 5%;
}

.sub-section{
	margin-top:2%;
}

.icon{
	padding-right:1.5rem;
}

.hw-video{
	margin-top:0.8rem;
}

#coursework ul li{
	margin-bottom:1.5rem;
}



#main-body{
	padding-left: 15%;
	padding-right:10%;
}

